name: Build Project

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: install dependencies
        run: bun install


      - name: check typescript errors
        run: bunx tsc --noEmit
